# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/
# Poetry
poetry.lock

# Django specific
*.log
*.pot
media/
static/
local_settings.py
db.sqlite3
db.sqlite3-*

# System files
.DS_Store
Thumbs.db
